.moon {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    top: 40%;
    left: 24%;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.6), 0 0 10px rgba(255, 255, 255, 0.8);
}

.moon::after {
    content: "";
    position: absolute;
    width: 62px;
    height: 62px;
    background: linear-gradient(45deg, rgba(100, 100, 100, 0.8), rgba(100, 100, 100, 0.5), rgba(50, 50, 50, 0.8), rgba(50, 50, 50, 0.5));
    border-radius: 50%;
    left: 0;
    top: 0;
    clip-path: polygon(90% 100, 100% 0, 100% 100%, 0% 0%);
}