/* styles/Home.module.css */
@keyframes backgroundAnimation {
  0%, 100% {
    filter: brightness(1) blur(0);
  }
  25%, 75% {
    filter: brightness(0.7) blur(2px);
  }
}
.container.animateBackground {
  animation: backgroundAnimation 5s ease-in-out forwards;
  /* Mantener el filtro de brillo reducido y desenfoque al final de la animación */
  filter: brightness(0.7) blur(2px);
}

.container {
  background-image: url("https://www.xtrafondos.com/wallpapers/edificios-ciudad-de-noche-3183.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  /* Otros estilos para el contenedor principal si es necesario */
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: url('../public/icons8-cursor-50.png'), pointer;
}

.content {
  padding: 100px;
  background-color: rgba(118, 118, 118, 0.377); /* Fondo semitransparente para el contenido */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 2rem;
  color: #fff;
}

.description {
  font-size: 1.2rem;
  color: #eee;
  margin-top: 10px;
}

.next {
  width: 100%;
  display: flex;
  justify-content: center;
}

.next button {
  cursor: url('../public/icons8-cursor-50.png'), pointer;
  height: 40px;
  width: 200px;
  border-radius: 5px;
  border: none;
  background-color: cornflowerblue;
  color: #fff;
  font-size: 24px;
  transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
  outline: none;
}

.next button:hover {
  background-color: royalblue;
  transform: scale(1.05);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.next button:active {
  transform: scale(0.95);
  box-shadow: none;
}

.footerText {
  text-align: center;
  color: #ccc;
  padding: 20px;
}

/* styles/Home.module.css */
.bubble {
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 22px solid #340f51; /* Cambia el color aquí */
  background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0) 60%);
  position: absolute;
  pointer-events: none; /* Evita que las burbujas afecten a la interacción del usuario */
  animation: rotateBubble 2s linear infinite, followCursor 2.2s forwards;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.4); /* Agrega el box-shadow aquí */
}

@keyframes rotateBubble {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


@keyframes followCursor {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
/* 
@keyframes shineAnimation {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.darkBorder {
  animation: shineAnimation 2s infinite;
}

.darkBorder {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0.4) 10%,
    rgba(0, 0, 0, 0.4) 90%,
    rgba(0, 0, 0, 0.8) 100%
  );
  pointer-events: none; 
} */