.containerProfile {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgb(0, 0, 0),
            rgb(10, 10, 30),
            rgb(0, 0, 50),
            rgb(10, 10, 30),
            rgb(0, 0, 0));
    perspective: 1000px;
}

.additionalStarFugaz {
    position: absolute;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    animation: starFugazAnimation 4s linear forwards;
    pointer-events: none;
    transform: translateZ(0) scale(0);
    width: 0.7rem;
    height: 0.7rem;
    border-left: 0.35rem solid transparent;
    border-right: 0.35rem solid transparent;
    border-bottom: 0.7rem solid rgba(255, 255, 255, 0.8);
    animation: starFugazAnimation 4s linear forwards;
    pointer-events: none;
    transform: translateZ(0) translateY(-50%) scale(0);
}

.planetsContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
}


.cursorFollower {
    position: absolute;
    width: 15px; /* Ancho del rastro */
    height: 15px; /* Alto del rastro */
    background-color: white;
    opacity: 0.5;
    filter: blur(5px); /* Ajusta la cantidad de desenfoque */
    pointer-events: none; /* Evita que el rastro interfiera con la interacción del usuario */
    transform: translate(-50%, -50%);
    border-radius: 50%;
    transition: opacity 0.2s ease-in-out;
    opacity: 0.5;/* Agrega transición para una apariencia suave */
}

.greenSquare {
    width: 50px;
    height: 50px;
    background-color: green;
    position: absolute;
    transition: left 0.1s, top 0.1s; /* Para suavizar el movimiento */
}

.bullet {
    width: 10px;
    height: 10px;
    background-color: lime;
    position: absolute;
}